/* Fonts ---------------------------------------------------------------------*/

@font-face {
  font-family: Marked;
  src: url(res/YanoneKaffeesatz-Regular.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(res/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-Light;
  src: url(res/Roboto-Light.ttf);
}
@font-face {
  font-family: Roboto-Thin;
  src: url(res/Roboto-Thin.ttf);
}
@font-face {
  font-family: Apple;
  src: url(res/HomemadeApple-Regular.ttf);
}

/* Body ----------------------------------------------------------------------*/

body {
  margin: 0px;
  width: 100%;
  background-color: #1F1FFF;/*#00003F*/
  height: auto;
  font-family: Arial;
}
a {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}
.header {
  background-image: url('res/altarloop.gif');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: table;
  /*height: 480px;*/
  height: calc(100vh - 65px);
  font-family: Apple;
  /*font-family: Roboto-Thin;*/
}
.headertext {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.35);
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
.headertitle {
  color: #FFF;
  /*line-height: 480px;*/
  font-size: 40px;
}
.nav {
  display: block;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #800020;
  font-family: Roboto;
  text-align: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
.nav a:first-child {
  background-color: #1F1FFF;
}
.nav a:hover {
  //background-color: #303030;
}
.nav a {
  padding: 10px 10px;
  display: inline;
  color: #FFF;
  text-decoration: none;
}
.content {
  font-family: Roboto-Light;
  /*max-width: 1250px;*/
  width: 100%;
  background-color: #1F1FFF;
  color: white;
  margin: auto;
}
.content h3 {
  text-align: center;
  margin: 0;
  line-height: 50px;
  font-family: Marked;
  letter-spacing: 2px;
  font-size: 25px;
  font-weight: normal;
}
.iconflex {
  /*max-width: 1250px;*/
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  background-color: #505050;
  background-image: url('res/beach2.jpg');
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  padding: 5px 5px;
}
.icon {
  height: 400px;
  width: 300px;
  margin: 5px;
  text-align: center;
  background-color: rgba(00, 00, 127, .5);
  color: #FFF;
  border-radius: 10px;
  cursor: pointer;
}
.icon h4 {
  font-family: Marked;
  letter-spacing: 2px;
  background-color: #800020;
  border-radius: 5px 5px 0 0;
  margin: 5px 5px 0 5px;

}
.icon:hover {
  background-color: rgba(00, 00, 147, .5);
}
.icon img {
  height: 250px;
  width: 250px;
  padding-top: 5px;
}
.icon h4, .icon p {
  padding: 0 5px 0 5px;
}
.icon p {
  background-color: #1F1FFF;
  border-radius: 0 0 5px 5px;
  margin: 0px 5px 5px 5px;
}
.map {
  /*max-width: 1250px;*/
  max-width: 100%;
  display: flex;
  justify-content: center;
  min-height: 400px;
  background-image: url('res/church_aerial_cropped-3.png');
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}
.mapinfo {
  padding: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
  min-height: 300px;
  vertical-align: middle;
  text-align: center;
  background-color: rgba(0, 0, 127, .5);
  color: white;
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.mapinfo iframe {
  padding-left: 5px;
  max-width: 400px;
  height: 300px;
}
.maptextitem {
  width: 400px;
  display: block;
  background-color: #0F0FC0;
  margin: 0;
}
.maptextitem:nth-child(odd) {
  background-color: #00007E;
}
.maptextitem:first-child {
  background-color: #800020;
  border-radius: 5px;
}
.maptextitem:nth-child(2) {
  border-radius: 5px 5px 0 0;
}
.maptextitem:last-child {
  border-radius: 0 0 5px 5px;
}
.maptext h4{
  padding: 15px 5 15px 5;
  font-family: Marked;
  letter-spacing: 2px;
}
.maptext p {
  padding: 5px 5px 5px 5px;
}
#events {
  background-color: #00007E;
  text-align: center;
  overflow: auto;
}
.eventanchorl, .eventanchorr {
  width: 50%;
  display: inline-block;
  white-space: break-spaces;
}
.eventanchorl {
  text-align: right;
}
.eventanchorr {
  text-align: left;
}
.eventcontainer {
  margin: 5px 0px 5px 0px;
  border-radius: 3px;
  padding: 5px;
  background-color: #0F0FC0;
}
.eventcontainer:hover {
  background-color: #1F1FD0;
  cursor: pointer;
}
.eventdesc {
  display: none;
  text-align: center;
}
#blog, resources {
  background-color: #1F1FFF;
  white-space: pre-wrap;
}
.blogpost, .fullblogpost, .resourcecontent {
  padding: 5px;
  white-space: pre-wrap;
  background-color: #00007E;
}
.blogpost:hover {
  background-color: #1F1FD0;
  cursor: pointer;
}
#blog h4, .fullblogpost h4 {
  margin: 2px;
}
.blogContent {
  padding: 5px;
}
.tithely-give-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-family: Roboto;
  background-color: #00DB72;
  font-weight: bold;
  font-size: 19px;
  padding: 15px 70px;
  border-radius: 4px;
  cursor: pointer;
  background-image: none;
  color: white;
  text-shadow: none;
  display: inline-block;
  float: none;
  border: none;
}
.footer {
  color: #FFF;
  text-align: center;
  font-family: roboto-light;
}

#calendar{
  color: #FFF;
}

#settingstable {
  color: #FFF;
  font-family: Roboto-Light;
  width: 100%;
  border: 0;
  border-collapse: collapse;
}
#settingstable tr {
  width: 100%;
  background-color: #202020;
  border-top: 2px #101010 solid;
  border-bottom: 2px #101010 solid;
}
.settingstdl {
  width: 50%;
  text-align: right;
}
.settingstdr {
  width: 50%;
}

#blogdiv {
  width: 100%;
}
.createpostbg {
  display: block;
  background-color: #303030;
  margin: 2px;
}
#blogtable {
  width: 100%;
  color: white;
  border-collapse: collapse;
  border: 0;
}
#blogtable tr {
  width: 100%;
  border-top: 2px #101010 solid;
  border-bottom: 2px #101010 solid;
}
.blogtdl, .blogtdr{
  width: 50%;
  background-color: #202020;
  margin: 2px;
}
.blogtdl {
  text-align: right;
}

#usermantable {
  color: #FFF;
  font-family: Roboto-Light;
  width: 100%;
  display: block;
  border: 0;
  border-collapse: collapse;
}
#usermantable tr {
  width: 100%;
  background-color: #202020;
  border-top: 2px #101010 solid;
  border-bottom: 2px #101010 solid;
}
#usermantable tr:nth-child(even) {
  background-color: #303030;
}
#usermantable tr td {
  margin: 0;
}

.calrow {
  display: block;
  background-color: #303030;
}
.calrow:nth-child(even) {
  background-color: #252525;
}

#btitle {
  width: 75%;
}
#bcontent {
  width: 100%;
}
#bpreview {
  width: 100%;
  max-height: 200px;
  overflow: auto;
  background-color: #303030;
  border: 2px black solid;
  text-align: left;
  padding: 10px;
  white-space: pre-wrap;
}

.bb {
  font-weight: bold;
}
.bi {
  font-style: italic;
}
.bu {
  text-decoration: underline;
}
.bright {
  display: block;
  text-align: right;
}

#bimagecont {
  display: block;
  padding: 5px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
#bimagecont img {
  height: 100px;
  width: auto;
  margin: 5px;
}

#resourcestable {
  width: 100%;
  border: 0;
  background-color: #00007E;
  cursor: pointer;
  color: #FFF;
}
#resourcestable tr {
  width: 100%;
  background-color: #00007E;
}
#resourcestable tr:nth-child(even){
  background-color: #0F0FC0;
}
#resourcestable tr:hover{
  background-color: #1F1FD0;
}
#resourcestable td {
  white-space: pre-wrap;
}
#resourcesbreadcrumb {
  display: block;
  background-color: #800020;
  color: #FFF;
}

#popupbg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  display: none;
}
#popup {
  display: table-cell;
  vertical-align: middle;
}
#popupcont {
  background-color: #202020;
  border: 2px #000 solid;
  border-radius: 5px;
  display: table;
  table-layout: fixed;
  width: 1000px;
  margin: auto;
  padding: 50px;
}
#popuphold {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

@media (max-width: 750px) {
  .tithely-give-btn {
    position: static;
    padding: 3px 10px;
    font-weight: normal;
  }
}
